@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
@media (max-width: 1280px) {
  /* HOME */
  .banner {
    height: 70vh;
  }
  .img01 {
    padding-top: 10%;
    width: 80%;
  }
  .bemvindo {
    padding-top: 4%;
    font-size: 1.4rem;
  }
  /*MANIPULAÇÃO DOS TITULOS*/
  .section-heading h2 {
    padding-top: 10%;
    font-size: 1.9rem;
  }
  /*QUEM SOMOS*/
  #sobre {
    padding-top: 15%;
  }
  .row .quem_somos p {
    font-size: 1rem;
  }
  /*APARTAMENTOS */
  .ap_txt h4 {
    font-size: 1.2rem;
  }
  /* MANIPULAÇÃO DO PARAGRAFO Apartamentos Disponíveis */
  .ap_txt p {
    padding: 10px;
    font-size: 0.9rem;
  }
  /*link Apartamento*/
  .ap_txt a {
    font-size: 0.8rem;
  }
}

@media (max-width: 1080px) {
  .banner {
    height: 60vh;
  }
  .img01 {
    padding-top: 18%;
  }
  .bemvindo {
    padding-top: 15%;
  }
  /* MANIPULAÇÃO DOS TITULOS */

  .section-heading h2 {
    padding-top: 18%;
  }
  /* PARAGRAFO DE QUEM SOMOS ESTA OK*/
  .row .quem_somos p {
    padding: 5%;
  }
}

@media (max-width: 991px) {
  .img01 {
    width: 90%;
  }
  .bemvindo {
    font-size: 1.6rem;
  }
  /*MANIPULAÇÃO DOS TITULOS */
  .section-heading h2 {
    font-size: 2.2rem;
  }
  /*PARAGRAFO DE QUEM SOMOS ESTA OK*/
  .row .quem_somos p {
    font-size: 1.3rem;
  }
  /*Título Apartamento */
  .ap_txt h4 {
    font-size: 1.7rem;
  }
  /* PARAGRAFO Apartamento */
  .ap_txt p {
    padding: 5px;
    font-size: 1.2rem;
  }
  /*link Apartamento*/
  .ap_txt a {
    font-size: 1.4rem;
  }
  .team-member img {
    margin-top: 18%;
  }
}

@media (max-width: 720px) {
  .banner {
    height: 45vh;
  }
  .img01 {
    padding-top: 20%;
    width: 100%;
  }
  .bemvindo {
    padding-top: 25%;
    font-size: 1.2rem;
  }
  /* PARAGRAFO Apartamento */
  .ap_txt p {
    display: none;
  }

  /* MANIPULAÇÃO DOS TITULOS */

  .section-heading h2 {
    padding-top: 18%;
    font-size: 1.7rem;
  }

  /* PARAGRAFO DE QUEM SOMOS ESTA OK*/

  #sobre {
    padding-top: 20%;
  }

  .row .quem_somos p {
    font-size: 1rem;
    padding: 2%;
  }

  /* Título Apartamento */
  .ap_txt h4 {
    font-size: 1.5rem;
  }

  /* PARAGRAFO Apartamento */
  .ap_txt p {
    font-size: 1rem;
  }

  /*link Apartamento*/
  .ap_txt a {
    font-size: 1rem;
  }

  .navbar-brand span {
    display: none;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 25vh;
  }
  .img01 {
    padding-top: 25%;
  }
  .bemvindo {
    padding-top: 40%;
    font-size: 1rem;
  }

  /* MANIPULAÇÃO DOS TITULOS */

  .section-heading h2 {
    font-size: 1.5rem;
  }

  .row .quem_somos p {
    font-size: 0.9rem;
  }

  /* Título Apartamento */
  .ap_txt h4 {
    font-size: 1.3rem;
  }

  /*link Apartamento*/
  .ap_txt a {
    font-size: 0.8rem;
  }

  .team-member img {
    margin-top: 18%;
  }

  .navbar-brand img {
    margin-right: 10px; /* Espaçamento entre a logo e o texto */
  }
}
