<IfModule mod_rewrite.c>
    RewriteEngine On

    # Remover "index.php" das URLs
    RewriteCond %{THE_REQUEST} \s/index\.php [NC]
    RewriteRule ^index\.php(.*)$ /$1 [R=301,L]

    # Reescrever para carregar "index.php" por padrão, sem exibi-lo na URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
